<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="DevEnv" value="http://trs.dev.env.works/api/translation/GetOrCreateStrings" />
    <add key="TestEnv" value="http://trs.test.env.works/api/translation/GetOrCreateStrings" />
    <add key="ProdEnv" value="http://trs.prod.env.works/api/translation/GetOrCreateStrings" />
    <add key="LltEnv" value="http://atvl3wwtdt101.icepor.com:81/api/translation/GetOrCreateStrings" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
